/*------------------------------------*\
  #Base Styles
\*------------------------------------*/

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: palette(grey);
  font-size: $base__font-size;
  font-family: $font-family--primary;
  line-height: ($base__line/$base__font-size);
}